# Leitura dos dados

## Carregando bibliotecas

In [14]:
%%capture
## !pip install --upgrade xlrd

import pandas as pd
import matplotlib.pyplot as plt
import openpyxl
import numpy as np
from __future__ import division
from sympy import *

## Dados reservatório calibração – Ponto R4

In [15]:
def dados_reservatorio_discretos(plotar=False):
    dados = pd.read_excel(r'C:\Users\User\Desktop\Python\Projects\Doutorado\Dispersao\doctorate\pasta_final\dados-para-interpolacao_final.xlsx')
    
    colunas = ['OD (mg/L)', 'temperatura (ºC)', 'fosforo_total (ug/L)',
               'fosforo_reativo (ug/L)', 'nitrog_amoniacal (ug/L)', 'nitrog_total (ug/L)',
               'nitrito (ug/L)', 'nitrato (ug/L)']
    
    data_frame = pd.DataFrame(dados['data'])
    
    cont = 0
    for c in colunas:
        if cont == 0 or cont == 1:
            data_frame = data_frame.join(pd.DataFrame(dados[c]))
        else:
            data_frame = data_frame.join(pd.DataFrame(dados[c] * 10 ** (- 3)))
        cont += 1
    
    if plotar == True:
        nomes_ajustados = ['Oxigênio Dissolvido ($\mathrm{mgL}^{-1}$)', 'Temperatura (ºC)', 'Fósforo Total ($\mathrm{mgL}^{-1}$)',
                           'Fósforo Reativo ($\mathrm{mgL}^{-1}$)', 'Nitrogênio Amoniacal ($\mathrm{mgL}^{-1}$)', 'Nitrogênio Total ($\mathrm{mgL}^{-1}$)',
                           'Nitrito ($\mathrm{mgL}^{-1}$)', 'Nitrato ($\mathrm{mgL}^{-1}$)']

        for i in range(len(nomes_ajustados)):
            plt.figure(figsize=(7, 5), dpi=50)
            
            if i == 1:
                plt.ylabel('Temperatura (ºC)')
            else:
                plt.ylabel('Concentração ($\mathrm{mgL}^{-1}$)')
            
            plt.xlabel('Tempo (dias)')
            plt.plot(data_frame['data'], data_frame[colunas[i]], 'o', color='black', label=nomes_ajustados[i])
            plt.xticks(rotation=45)
            plt.grid(linestyle='--')
            plt.legend(loc='best')
#             plt.savefig(f'/Users/matheus/Desktop/figuras/figura_{i}')
            plt.show()
            plt.close()
    
    return data_frame.dropna()

dados_reservatorio_discretos(plotar=False)

,data,OD (mg/L),temperatura (ºC),fosforo_total (ug/L),fosforo_reativo (ug/L),nitrog_amoniacal (ug/L),nitrog_total (ug/L),nitrito (ug/L),nitrato (ug/L)
15,2010-03-16,3.774000,21.235000,0.021353,0.003746,0.182048,0.187302,0.002148,0.049090
43,2010-04-13,5.399500,20.095000,0.017802,0.005105,0.242654,0.176480,0.003917,0.028542
78,2010-05-18,5.373000,18.000000,0.017120,0.010241,0.339960,0.246566,0.009353,0.234442
114,2010-06-23,7.528571,16.014286,0.006714,0.005082,0.392459,0.246694,0.005441,0.302503
148,2010-07-27,8.397143,16.538095,0.012717,0.004867,0.323124,0.316024,0.006201,0.338740
169,2010-08-17,8.491429,14.738095,0.019812,0.005787,0.324470,0.300946,0.006130,0.335530
204,2010-09-21,7.887143,17.095238,0.045122,0.003644,0.331795,0.351737,0.003646,0.340211
239,2010-10-26,10.036500,18.845000,0.014136,0.001731,0.063604,0.440527,0.000007,0.406988
266,2010-11-22,2.969524,20.628571,0.020908,0.011722,0.227887,0.240073,0.004482,0.153523
296,2010-12-22,2.724762,20.842857,0.017715,0.007091,0.261427,0.231931,0.170120,0.004595

In [16]:
def dados_reservatorio_interpolado(plotar=False):
    dados = pd.read_excel(r'C:\Users\User\Desktop\Python\Projects\Doutorado\Dispersao\doctorate\pasta_final\dados-para-interpolacao_final.xlsx')
    
    colunas = ['OD (mg/L)', 'temperatura (ºC)', 'fosforo_total (ug/L)',
               'fosforo_reativo (ug/L)', 'nitrog_amoniacal (ug/L)', 'nitrog_total (ug/L)',
               'nitrito (ug/L)', 'nitrato (ug/L)']
    
    data_frame = pd.DataFrame(dados['data'])
    
    cont = 0
    for c in colunas:
        if cont == 0 or cont == 1:
            interpolacao = pd.DataFrame(dados[c]).interpolate()
            data_frame = data_frame.join(interpolacao)
        else:
            interpolacao = pd.DataFrame(dados[c] * 10 ** (- 3)).interpolate()
            data_frame = data_frame.join(interpolacao)
            
        cont += 1
    
    if plotar == True:
        nomes_ajustados = ['Oxigênio Dissolvido ($\mathrm{mgL}^{-1}$)', 'Temperatura (ºC)', 'Fósforo Total ($\mathrm{mgL}^{-1}$)',
                           'Fósforo Reativo ($\mathrm{mgL}^{-1}$)', 'Nitrogênio Amoniacal ($\mathrm{mgL}^{-1}$)', 'Nitrogênio Total ($\mathrm{mgL}^{-1}$)',
                           'Nitrito ($\mathrm{mgL}^{-1}$)', 'Nitrato ($\mathrm{mgL}^{-1}$)']

        for i in range(len(nomes_ajustados)):
            plt.figure(figsize=(7, 5), dpi=50)
            
            if i == 1:
                plt.ylabel('Temperatura (ºC)')
            else:
                plt.ylabel('Concentração ($\mathrm{mgL}^{-1}$)')
            
            plt.xlabel('Tempo (dias)')
            plt.plot(data_frame['data'], data_frame[colunas[i]], '-', color='black', label=nomes_ajustados[i])
            plt.xticks(rotation=45)
            plt.grid(linestyle='--')
            plt.legend(loc='best')
#             plt.savefig(f'/Users/matheus/Desktop/figuras/figura_{i}')
            plt.show()
            plt.close()
    
    return data_frame.dropna()


dados_reservatorio_interpolado()

,data,OD (mg/L),temperatura (ºC),fosforo_total (ug/L),fosforo_reativo (ug/L),nitrog_amoniacal (ug/L),nitrog_total (ug/L),nitrito (ug/L),nitrato (ug/L)
15,2010-03-16,3.774000,21.235000,0.021353,0.003746,0.182048,0.187302,0.002148,0.049090
16,2010-03-17,3.832054,21.194286,0.021226,0.003794,0.184213,0.186916,0.002211,0.048356
17,2010-03-18,3.890107,21.153571,0.021099,0.003843,0.186377,0.186529,0.002274,0.047623
18,2010-03-19,3.948161,21.112857,0.020972,0.003891,0.188542,0.186143,0.002337,0.046889
19,2010-03-20,4.006214,21.072143,0.020845,0.003940,0.190706,0.185756,0.002401,0.046155
...,...,...,...,...,...,...,...,...,...
301,2010-12-27,2.724762,20.842857,0.017715,0.007091,0.261427,0.231931,0.170120,0.004595
302,2010-12-28,2.724762,20.842857,0.017715,0.007091,0.261427,0.231931,0.170120,0.004595
303,2010-12-29,2.724762,20.842857,0.017715,0.007091,0.261427,0.231931,0.170120,0.004595
304,2010-12-30,2.724762,20.842857,0.017715,0.007091,0.261427,0.231931,0.170120,0.004595
305,2010-12-31,2.724762,20.842857,0.017715,0.007091,0.261427,0.231931,0.170120,0.004595

## Dados tributários

In [17]:
def dados_tributarios():
    df_trib_F4 = pd.read_excel(r'C:\Users\User\Desktop\Python\Projects\Doutorado\Dispersao\doctorate\pasta_final\dados-para-interpolacao_final.xlsx', 'trib_F4')
    df_trib_TE_10 = pd.read_excel(r'C:\Users\User\Desktop\Python\Projects\Doutorado\Dispersao\doctorate\pasta_final\dados-para-interpolacao_final.xlsx', 'trib_TE_10')
    df_trib_TD_4 = pd.read_excel(r'C:\Users\User\Desktop\Python\Projects\Doutorado\Dispersao\doctorate\pasta_final\dados-para-interpolacao_final.xlsx', 'trib_TD_4')
    df_trib_F5 = pd.read_excel(r'C:\Users\User\Desktop\Python\Projects\Doutorado\Dispersao\doctorate\pasta_final\dados-para-interpolacao_final.xlsx', 'trib_F5')

    colunas = ['Oxigênio dissolvido', 'temperatura',
               'Fósforo total', 'Fósforo reativo', 'Nitrogênio amonical',
               'Nitrogênio total', 'Nitrito', 'Nitrato']
    
    lista = [df_trib_F4, df_trib_TE_10, df_trib_TD_4, df_trib_F5]
    
    nomes = ['df_trib_F4', 'df_trib_TE_10', 'df_trib_TD_4', 'df_trib_F5']
    
    dicionario = {}
    
    cont = 0
    for i in range(len(lista)):
        data_frame = pd.DataFrame(lista[i]['data'])
        
        for c in colunas:
            if cont == 0 or cont == 1:
                interpolacao = pd.DataFrame(lista[i][c]).interpolate()
            else:
                interpolacao = pd.DataFrame(lista[i][c]  * 10 ** (- 3)).interpolate()
            
            data_frame = data_frame.join(pd.DataFrame(interpolacao))
            cont += 1
        
        dicionario[nomes[i]] = data_frame.dropna()
    
    return dicionario
            

dados_tributarios()['df_trib_F4']

,data,Oxigênio dissolvido,temperatura,Fósforo total,Fósforo reativo,Nitrogênio amonical,Nitrogênio total,Nitrito,Nitrato
15,2010-03-16,9.000000,21.600000,0.042000,0.009460,0.141000,0.182000,0.019180,0.278000
16,2010-03-17,9.007143,21.489286,0.041888,0.009366,0.139079,0.182179,0.018714,0.273107
17,2010-03-18,9.014286,21.378571,0.041775,0.009272,0.137157,0.182357,0.018248,0.268214
18,2010-03-19,9.021429,21.267857,0.041663,0.009178,0.135236,0.182536,0.017782,0.263321
19,2010-03-20,9.028571,21.157143,0.041550,0.009084,0.133314,0.182714,0.017316,0.258429
...,...,...,...,...,...,...,...,...,...
301,2010-12-27,6.510000,21.900000,0.034700,0.012200,0.496600,0.281000,0.304700,0.012900
302,2010-12-28,6.510000,21.900000,0.034700,0.012200,0.496600,0.281000,0.304700,0.012900
303,2010-12-29,6.510000,21.900000,0.034700,0.012200,0.496600,0.281000,0.304700,0.012900
304,2010-12-30,6.510000,21.900000,0.034700,0.012200,0.496600,0.281000,0.304700,0.012900
305,2010-12-31,6.510000,21.900000,0.034700,0.012200,0.496600,0.281000,0.304700,0.012900

## Dados estação barragem

In [18]:
def dados_barragem():
    dados = pd.read_excel(r'C:\Users\User\Desktop\Python\Projects\Doutorado\Dispersao\doctorate\arquivos\estacao-barragem.xls')
    
    colunas = ['Vel. Vento média (m/s)', 'Temp. média (ºC)',
               'Umid. rel. média (%)', 'Prec. (mm)']
    
    dados = dados.replace(to_replace=- 6999.0, value=np.nan)
    
    dados_media_diaria = dados[['Data', 'Vel. Vento média (m/s)', 'Temp. média (ºC)', 'Umid. rel. média (%)']]
    dados_media_diaria = dados_media_diaria.groupby(by=['Data'], as_index=False).mean()
    
    prec_acumulada_diaria = dados[['Data', 'Prec. (mm)']]
    prec_media_diaria = prec_acumulada_diaria.groupby(by=['Data'], as_index=False).sum()
    
    data_frame = dados_media_diaria.join(pd.DataFrame(prec_media_diaria['Prec. (mm)']))
    
    data_frame_final = pd.DataFrame(data_frame['Data'])
    
    for c in colunas:
        interpolacao = pd.DataFrame(data_frame[c]).interpolate()
        data_frame_final = data_frame_final.join(interpolacao)
    
    return data_frame_final

dados_barragem().iloc[250:300]
# pd.DataFrame(dados_barragem())['Data']

,Data,Vel. Vento média (m/s),Temp. média (ºC),Umid. rel. média (%),Prec. (mm)
250,2010-09-08,3.975479,14.039583,86.737188,0.000
251,2010-09-09,5.090917,13.247292,82.606250,0.000
252,2010-09-10,5.811656,14.532292,75.808125,0.000
253,2010-09-11,2.637042,17.476667,75.096562,0.000
254,2010-09-12,2.802677,19.072188,76.074375,0.000
255,2010-09-13,2.799906,20.327708,55.988542,0.000
256,2010-09-14,4.009062,20.490000,57.324062,0.000
257,2010-09-15,2.132906,14.772302,73.127604,0.000
258,2010-09-16,3.863406,14.538646,85.627083,0.000
259,2010-09-17,3.263188,17.600104,77.503229,0.508
260,2010-09-18,5.890240,11.728854,86.005208,0.254
261,2010-09-19,5.353500,11.978750,79.357083,0.000
262,2010-09-20,3.332552,14.330625,89.875000,4.826
263,2010-09-21,3.157802,15.870938,89.515625,1.016
264,2010-09-22,2.542500,18.373125,83.300313,0.000
265,2010-09-23,2.193469,18.399583,74.636562,5.842
266,2010-09-24,2.472812,16.783750,85.811667,21.336
267,2010-09-25,3.460917,14.754583,88.132604,0.000
268,2010-09-26,2.310135,15.431771,88.022917,3.556
269,2010-09-27,3.664073,17.186250,84.559583,0.000
270,2010-09-28,3.805031,15.852604,87.548958,0.762
271,2010-09-29,1.443240,18.121562,80.462396,0.000
272,2010-09-30,1.938240,18.709167,81.789896,0.000
273,2010-10-01,3.449323,17.667083,89.897917,2.794
274,2010-10-02,3.804729,14.944583,94.082292,11.938
275,2010-10-03,5.166771,10.200313,92.025000,0.000
276,2010-10-04,2.758812,12.283333,93.277083,23.622
277,2010-10-05,1.890271,14.709375,87.217604,1.270
278,2010-10-06,2.458667,17.293333,79.141146,0.000
279,2010-10-07,3.613375,17.076667,88.093229,10.414
280,2010-10-08,4.704646,15.449062,66.948854,0.000
281,2010-10-09,4.052729,13.893958,78.192604,0.000
282,2010-10-10,3.811404,13.155745,78.413191,0.000
283,2010-10-11,3.544417,13.428542,72.749375,0.000
284,2010-10-12,4.332375,12.078229,73.320521,0.000
285,2010-10-13,4.622593,12.059444,76.583889,31.820
286,2010-10-14,4.265574,12.666227,78.250045,0.000
287,2010-10-15,3.908556,13.273010,79.916202,0.000
288,2010-10-16,3.551538,13.879793,81.582359,0.000
289,2010-10-17,3.194519,14.486576,83.248515,0.000
290,2010-10-18,2.837501,15.093359,84.914672,0.000
291,2010-10-19,2.480482,15.700141,86.580828,0.000
292,2010-10-20,2.123464,16.306924,88.246985,0.000
293,2010-10-21,1.766446,16.913707,89.913141,0.000
294,2010-10-22,1.409427,17.520490,91.579298,0.000
295,2010-10-23,1.052409,18.127273,93.245455,0.000
296,2010-10-24,2.957281,18.898646,80.187708,0.000
297,2010-10-25,3.017083,17.966562,83.937917,0.000
298,2010-10-26,2.920167,16.918646,74.154688,0.000
299,2010-10-27,2.315010,15.870417,70.428750,0.000

In [19]:
# dados = pd.read_excel('https://github.com/CostaNathan/doctorate/blob/Modelos-de-dispers%C3%A3o-e-qualidade-da-%C3%A1gua/arquivos/estacao-barragem.xls?raw=true')
    
# colunas = ['Vel. Vento média (m/s)', 'Temp. média (ºC)',
#            'Umid. rel. média (%)', 'Prec. (mm)']

# dados = dados.replace(to_replace=- 6999.0, value=np.nan)

# dados[['Vel. Vento média (m/s)', 'Temp. média (ºC)',
#        'Umid. rel. média (%)']]

## Dados Vazões

In [20]:
def dados_vazao():
    dados = pd.read_excel(r'C:\Users\User\Desktop\Python\Projects\Doutorado\Dispersao\doctorate\arquivos\vazaoSWAT_entradaSisBaHiA.xls')
    
    dados_filtrados = pd.DataFrame(dados[["ponto", "Dia", "F4", "TD4", "TE10"]].copy()) # m³/d 

    return dados_filtrados

dados_vazao()

        ponto  Dia     F4     TD4     TE10
0       86400    1  1.715  0.6591  0.27690
1      172800    2  1.640  0.5650  0.24630
2      259200    3  1.908  0.7772  0.24650
3      345600    4  1.857  0.6743  0.23670
4      432000    5  2.241  0.8309  0.23390
..        ...  ...    ...     ...      ...
359  31104000  360  1.708  0.2824  0.08848
360  31190400  361  1.588  0.2439  0.08201
361  31276800  362  1.498  0.2167  0.07665
362  31363200  363  1.426  0.2044  0.07210
363  31449600  364  1.368  0.3466  0.06906

[364 rows x 5 columns]

## Dados Evapotranspiração

In [21]:
# Evaporação pela equação de Thornthwaite

# E = 16 * (10*T/I) ** a
# I = soma(T_(1 a 12)/5)**1,514
# a = 6.75*(10**-7) * (I ** 3) - 7.71 * (10**-5) * (I**2) + 1,792 * (10**-2) * I + 0.49239

# Temperatura média do mês (ºC)

def dados_evapo():
    dados_temperatura_dia = dados_barragem()['Temp. média (ºC)']

    # temp_media_dia.iloc[0:31]

    temp_media_mes1 = dados_temperatura_dia.iloc[0:31].mean()
    temp_media_mes2 = dados_temperatura_dia.iloc[32:60].mean()
    temp_media_mes3 = dados_temperatura_dia.iloc[61:92].mean()
    temp_media_mes4 = dados_temperatura_dia.iloc[93:123].mean()
    temp_media_mes5 = dados_temperatura_dia.iloc[124:155].mean()
    temp_media_mes6 = dados_temperatura_dia.iloc[156:186].mean()
    temp_media_mes7 = dados_temperatura_dia.iloc[187:218].mean()
    temp_media_mes8 = dados_temperatura_dia.iloc[219:249].mean()
    temp_media_mes9 = dados_temperatura_dia.iloc[250:281].mean()
    temp_media_mes10 = dados_temperatura_dia.iloc[282:313].mean()
    temp_media_mes11 = dados_temperatura_dia.iloc[314:344].mean()
    temp_media_mes12 = dados_temperatura_dia.iloc[345:376].mean()

    temp_media_mes_dict = {'Mês' : [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12],
    'Temp. média (ºC)' : [temp_media_mes1, temp_media_mes2, temp_media_mes3, temp_media_mes4, temp_media_mes5, temp_media_mes6, temp_media_mes7, temp_media_mes8, temp_media_mes9, temp_media_mes10, temp_media_mes11, temp_media_mes12]}

    temp_media_mes = pd.DataFrame(temp_media_mes_dict)

    # Determinando valor de I

    I = (temp_media_mes['Temp. média (ºC)'].iloc[0]/5)**1.514 + (temp_media_mes['Temp. média (ºC)'].iloc[1]/5)**1.514 + (temp_media_mes['Temp. média (ºC)'].iloc[2]/5)**1.514 +(temp_media_mes['Temp. média (ºC)'].iloc[3]/5)**1.514 + (temp_media_mes['Temp. média (ºC)'].iloc[4]/5)**1.514 +(temp_media_mes['Temp. média (ºC)'].iloc[5]/5)**1.514 +(temp_media_mes['Temp. média (ºC)'].iloc[6]/5)**1.514 +(temp_media_mes['Temp. média (ºC)'].iloc[7]/5)**1.514 + (temp_media_mes['Temp. média (ºC)'].iloc[8]/5)**1.514 + (temp_media_mes['Temp. média (ºC)'].iloc[9]/5)**1.514 + (temp_media_mes['Temp. média (ºC)'].iloc[10]/5)**1.514 + (temp_media_mes['Temp. média (ºC)'].iloc[11]/5)**1.514 

    # Determinando valor de a

    a = 6.75 * (10**-7) * (I ** 3) - 7.71 * (10**-5) * (I**2) + 1.792 * (10**-2) * I + 0.49239

    # Determinando valor de E para cada mês (mm/mes)

    E1 = 16 * (10*21.259224/I) ** a
    E2 = 16 * (10*21.699927/I) ** a
    E3 = 16 * (10*20.12336/I) ** a
    E4 = 16 * (10*16.491354/I) ** a
    E5 = 16 * (10*13.600744/I) ** a
    E6 = 16 * (10*13.770589/I) ** a
    E7 = 16 * (10*13.479297/I) ** a
    E8 = 16 * (10*15.204781/I) ** a
    E9 = 16 * (10*15.994973/I) ** a
    E10 = 16 * (10*11.824963/I) ** a
    E11 = 16 * (10*19.340333/I) ** a
    E12 = 16 * (10*19.749505/I) ** a

    # Evapotranspiração em mm/d

    E_mes = np.array([E1, E2, E3, E4, E5, E6, E7, E8, E9, E10, E11, E12])

    E_dia = E_mes/30

    E_mar = np.repeat(E_dia[2], 31)
    E_abr = np.repeat(E_dia[3], 30)
    E_mai = np.repeat(E_dia[4], 31)
    E_jun = np.repeat(E_dia[5], 30)
    E_jul = np.repeat(E_dia[6], 31)
    E_ago = np.repeat(E_dia[7], 31)
    E_set = np.repeat(E_dia[8], 30)
    E_out = np.repeat(E_dia[9], 31)
    E_nov = np.repeat(E_dia[10], 30)
    E_dez = np.repeat(E_dia[11], 31)

    E_dia_acumulado = np.concatenate([E_mar, E_abr, E_mai, E_jun, E_jul, E_ago, E_set, E_out, E_nov, E_dez ]) # array com valores diários de evapotransp

    E_dia_acumulado_df = pd.DataFrame(E_dia_acumulado)
    E_dia_acumulado_df = E_dia_acumulado_df.rename(columns = {0:'Evaproação (mm/d)'})

    return E_dia_acumulado_df
    

dados_evapo()

     Evaproação (mm/d)
0             2.744085
1             2.744085
2             2.744085
3             2.744085
4             2.744085
..                 ...
301           2.653697
302           2.653697
303           2.653697
304           2.653697
305           2.653697

[306 rows x 1 columns]

## Equações convertidas para método de Euler

Exemplo:

Função interesse = $ \frac{dx}{dt} = kx + 2 $ 

$x^{n+1} = x^{n} + $(Função interesse) $ ^ {n} dt$

In [22]:
Q_F4, C_F4, Q_TE10, C_TE10, Q_TD4, C_TD4 = symbols('Q_F4 C_F4 Q_TE10 C_TE10 Q_TD4 C_TD4')
P, A_s, k_oa, V, k_s, f_nod, E = symbols('P A_s k_oa V k_s f_nod E')
r_na, k_ra, f_on, alpha = symbols('r_na k_ra f_on alpha')
w, t, v_s, H = symbols ('w t v_s H')
No_0 = symbols('No_0')

No = symbols ('No', cls = Function)

balanco_hidrico = (Q_F4 + Q_TE10 + Q_TD4 - P * A_s + E * A_s + k_oa * V + (k_s*(1-f_nod)*V))/V

eq_No = Eq(No(t).diff(t), - No(t) * balanco_hidrico + w/V + r_na*k_ra*f_on*alpha)
display ("Equação diferencial:", eq_No)

eq_No_anali = dsolve(eq_No, ics={No(0): No_0})
display('Solução analítica:', eq_No_anali)

eq_No_anali_constants = eq_No_anali.rhs.subs({No_0: 0.187302 , A_s: 242 , V: 25600 , alpha: 12 ,w: Q_F4*C_F4 + Q_TE10*C_TE10 + Q_TD4*C_TD4 ,f_nod: 0.5, f_on: 0.5, r_na: 10, k_oa: 0.1 , k_s: 1.2/5.6, k_ra: 0.10})
display(eq_No_anali_constants)

# {No_0: 0.187302 , A_s: 242 , V: 25600 , alpha: 12 ,f_nod: 0.1 a 1, f_on: 0.5, r_na: 7 a 15, k_oa: 0.001 a 0.2, k_s: 0.2 a 2.3/5.6, k_ra: 0.05 a 0.15})

#reacao_no = - No * ((Q_F4 + Q_TE10 + Q_TD4 - P*A_s + E*A_s + k_oa*V + (k_s*(1-f_nod)*V))/V) + r_na*k_ra*f_on*alpha

#reacao_na = - Na * ((Q_F4 + Q_TE10 + Q_TD4 - P*A_s + E*A_s + k_ni*V)/V) + w/V +k_oa*No + r_na*k_ra

#No_new = No + dt * reacao_no

'Equação diferencial:'

Eq(Derivative(No(t), t), alpha*f_on*k_ra*r_na + w/V - (A_s*E - A_s*P + Q_F4 + Q_TD4 + Q_TE10 + V*k_oa + V*k_s*(1 - f_nod))*No(t)/V)

'Solução analítica:'

Eq(No(t), V*alpha*f_on*k_ra*r_na/(A_s*E - A_s*P + Q_F4 + Q_TD4 + Q_TE10 - V*f_nod*k_s + V*k_oa + V*k_s) + w/(A_s*E - A_s*P + Q_F4 + Q_TD4 + Q_TE10 - V*f_nod*k_s + V*k_oa + V*k_s) + (A_s*E*No_0 - A_s*No_0*P + No_0*Q_F4 + No_0*Q_TD4 + No_0*Q_TE10 - No_0*V*f_nod*k_s + No_0*V*k_oa + No_0*V*k_s - V*alpha*f_on*k_ra*r_na - w)*exp(t*(-A_s*E/V + A_s*P/V - Q_F4/V - Q_TD4/V - Q_TE10/V + f_nod*k_s - k_oa - k_s))/(A_s*E - A_s*P + Q_F4 + Q_TD4 + Q_TE10 - V*f_nod*k_s + V*k_oa + V*k_s))

(C_F4*Q_F4 + C_TD4*Q_TD4 + C_TE10*Q_TE10)/(242*E - 242*P + Q_F4 + Q_TD4 + Q_TE10 + 5302.85714285714) + (-C_F4*Q_F4 - C_TD4*Q_TD4 - C_TE10*Q_TE10 + 45.327084*E - 45.327084*P + 0.187302*Q_F4 + 0.187302*Q_TD4 + 0.187302*Q_TE10 - 152606.764251429)*exp(t*(-121*E/12800 + 121*P/12800 - Q_F4/25600 - Q_TD4/25600 - Q_TE10/25600 - 0.207142857142857))/(242*E - 242*P + Q_F4 + Q_TD4 + Q_TE10 + 5302.85714285714) + 153600.0/(242*E - 242*P + Q_F4 + Q_TD4 + Q_TE10 + 5302.85714285714)

In [23]:
# # Variáveis de variáveis
# ## Balanço hídrico
preci = dados_barragem()['Prec. (mm)'].to_numpy()[74:]
evap  = dados_evapo().to_numpy()[15:]
# vento_diaria = dados_barragem()['Vel. Vento média (m/s)'].to_numpy()[74:]

### Variáveis de vazão dos tributários
Q_F4 = dados_vazao()['F4'].to_numpy()[73:364] 
Q_TE_10 = dados_vazao()['TE10'].to_numpy()[73:364] 
Q_TD_4 = dados_vazao()['TD4'].to_numpy()[73:364] 

## Nitrogênio

### Concentração de nitrogênio orgânico
Na_F4 = dados_tributarios()['df_trib_F4']['Nitrogênio total'].to_numpy()
Na_TE_10 = dados_tributarios()['df_trib_TE_10']['Nitrogênio total'].to_numpy()
Na_TD_4 = dados_tributarios()['df_trib_TD_4']['Nitrogênio total'].to_numpy()

# print(len(preci), len(evap), len(vento_diaria), len(Q_F4), len(Q_TE_10), len(Q_TD_4), len(Na_F4), len(Na_TE_10), len(Na_TD_4))

In [24]:
# Marcha no tempo

time = 291
dt = 1
tvals = np.arange(0, time, dt)

len(tvals)

291

In [25]:
# Resolução analítica

func = lambdify((t, P, E, Q_F4, Q_TE10, Q_TD4,C_F4, C_TE10, C_TD4), eq_No_anali_constants, 'numpy')
yvals = func(tvals, preci, evap, Q_F4, Q_TE_10, Q_TD_4, Na_F4, Na_TE_10,  Na_TD_4)

SyntaxError: cannot assign to literal (<lambdifygenerated-1>, line 2)