<a href="https://colab.research.google.com/github/CostaNathan/doctorate/blob/Modelos-de-dispers%C3%A3o-e-qualidade-da-%C3%A1gua/leitura_dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Considerações

Importante: esses dados, de acordo com que eu interpretei, são medidos em 
diferentes profundidades.

In [1]:
%%capture
!pip install --upgrade pandas
!pip install --upgrade xlrd
!pip install --upgrade matplotlib

In [2]:
import pandas as pd
import matplotlib.pyplot as plt

dados = pd.read_excel('/content/drive/MyDrive/modelos-de-dispersao-e-qualidade-da-agua/Dados_verde/Estacao_barragem2010.xls')

In [3]:
meses = ['marco', 'abril', 'maio',
         'junho', 'julho', 'agosto',
         'setembro', 'outubro', 'novembro',
         'dezembro']

dicionario = {}
cont = 3
for i in range(0, len(meses)):
  leitura = pd.read_excel('/content/drive/MyDrive/modelos-de-dispersao-e-qualidade-da-agua/Dados_verde/perfil-tributarios/perfil-tributarios-verde-' + str(cont) + '-2010.xls')
  dicionario[meses[i]] = leitura
  cont += 1

for i in range(0, len(meses)):
  print(len(dicionario[meses[i]]))

29
27
27
27
27
27
27
27
27
27

In [4]:
nome_variaveis = dicionario['marco'].iloc[0].index.tolist()
nome_variaveis = nome_variaveis[3:]
nome_variaveis, len(nome_variaveis)

(['pH',
  'Condutividade',
  'Turbidez',
  'Oxigênio dissolvido',
  'temperatura',
  'TDS',
  'ORP',
  'Secchi',
  'Fósforo total',
  'Fósforo reativo',
  'Nitrog amonical',
  'Nitrog total',
  'Nitrito',
  'Nitrato',
  'Silicato'],
 15)

In [5]:
dicionario['dezembro'].loc[1:24, 'Prof.':]

,Prof.,pH,Condutividade,Turbidez,Oxigênio dissolvido,temperatura,TDS,ORP,Secchi,Fósforo total,Fósforo reativo,Nitrog amonical,Nitrog total,Nitrito,Nitrato,Silicato
1,0,7.42,erro,0.3,7.21,24.4,erro,70,2.55,19.085818,9.410115,201.243576,237.44289,169.725892,4.116842,3198.47094
2,0.5,7.43,erro,0.3,7.16,24.4,NaN,70,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,4.43,erro,0.1,7.16,24.4,NaN,71,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1.5,7.43,erro,0.3,7.13,24.3,NaN,71,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2,7.44,erro,0.3,7,24.3,NaN,72,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2.5,7.41,erro,0.3,6.97,24.2,NaN,73,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,3,7.25,erro,0.3,6.43,23.8,NaN,80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,3.5,6.75,erro,0.4,4.55,22.3,NaN,96,NaN,16.077727,5.927843,287.446664,222.643445,154.894361,4.19748,3428.33785
9,4,6.57,erro,0.4,2.52,21.3,NaN,99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,4.5,6.37,erro,0.4,0.74,20.7,NaN,104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,5,6.35,erro,0.4,0.35,20.5,NaN,104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,5.5,6.31,erro,0.4,0,20,NaN,94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,6,6.34,erro,0.5,0,19.4,NaN,-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,6.5,6.32,erro,0.4,0,19.2,NaN,-55,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,7,6.38,erro,0.5,0,18.8,NaN,-123,NaN,14.240273,5.424024,226.109372,238.605718,180.356672,5.070095,4260.177882
16,7.5,6.42,erro,0.5,0,18.6,NaN,176,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,8,6.46,erro,0.5,0,18.1,NaN,-224,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,8.5,6.50,erro,0.7,0,17.7,NaN,-237,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,9,6.50,erro,0.5,0,17.2,NaN,-242,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,9.5,6.54,erro,0.5,0,17.1,NaN,-246,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,10,6.58,erro,0.5,0,17,NaN,-250,NaN,21.456727,7.602297,330.909847,229.032626,175.503819,4.995217,4317.644609
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
for i in range(len(meses)):
  print(meses[i])
  display(dicionario[meses[i]].loc[1:24, 'Prof.':])

marco

,Prof.,pH,Condutividade,Turbidez,Oxigênio dissolvido,temperatura,TDS,ORP,Secchi,Fósforo total,Fósforo reativo,Nitrog amonical,Nitrog total,Nitrito,Nitrato,Silicato
1,0,7.50,0.131,8.7,9.64,23.5,0.08,88,1.25,12.895705,3.885895,65.769388,187.296877,3.457187,66.520415,1729.908461
2,0.5,7.56,0.12,8.8,8.84,23.4,0.08,90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,7.53,0.119,9,8.8,23.4,0.08,93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1.5,7.48,0.119,9.2,8.78,23.3,0.08,96,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2,7.32,0.12,9.3,8.33,23.2,0.08,105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2.5,7.29,0.124,9.4,8.34,23.2,0.08,115,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,3,7.20,0.123,9.4,8.2,23.2,0.08,117,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,3.5,7.15,0.123,9.5,7.95,23.2,0.08,119,NaN,31.202094,3.523249,372.877538,188.317817,1.472152,64.751855,1015.004049
9,4,6.91,0.123,9.5,5.7,22.8,0.08,129,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,4.5,6.66,0.234,9.5,0.4,21,0.13,-141,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,5,6.53,0.138,9.5,0.45,20.8,0.11,-117,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,5.5,6.47,0.154,9.5,0.05,20.5,0.1,-155,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,6,6.44,0.149,9.5,0,20.1,0.1,-173,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,6.5,6.44,0.15,9.5,0,19.9,0.1,-179,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,7,6.44,0.153,9.4,0,19.7,0.1,-185,NaN,19.960056,3.827872,107.498233,186.292792,1.514322,15.998589,1229.659721
16,7.5,6.46,0.155,9.4,0,19.4,0.1,-191,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,8,6.48,0.159,9.4,0,19.1,0.1,-194,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,8.5,6.51,0.17,9.5,0,18.6,0.11,-196,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,9,6.53,0.175,9.5,0,18.3,0.11,-197,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,9.5,6.55,0.182,9.4,0,18.1,0.12,-201,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,10,6.58,0.185,9.4,0,18.1,0.12,-203,NaN,27.271007,4.625694,82.264991,181.139011,4.095772,7.476055,1879.009721
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

abril

,Prof.,pH,Condutividade,Turbidez,Oxigênio dissolvido,temperatura,TDS,ORP,Secchi,Fósforo total,Fósforo reativo,Nitrog amonical,Nitrog total,Nitrito,Nitrato,Silicato
1,0,6.95,0.09,---,6.3,20.4,0.06,165,1.2,13.325154,5.068177,232.194415,174.797284,4.796788,29.452776,3324
2,0.5,6.97,0.09,---,6.15,20.4,0.06,159,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,6.97,0.09,---,6.02,20.4,0.06,165,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1.5,6.94,0.09,---,6.05,20.2,0.06,173,NaN,19.079863,5.566039,260.608175,185.535883,3.864808,27.238353,4068
5,2,6.94,0.09,---,5.92,20.2,0.06,176,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2.5,6.93,0.09,---,5.9,20.2,0.06,177,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,3,6.92,0.09,---,5.89,20.2,0.06,179,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,3.5,6.92,0.09,---,5.86,20.2,0.06,179,NaN,19.54844,4.89246,175.427942,164.36932,2.471709,31.640276,1279.857085
9,4,6.91,0.09,---,5.89,20.2,0.06,182,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,4.5,6.93,0.09,---,5.91,20.2,0.06,183,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,5,6.92,0.09,---,5.92,20.2,0.06,186,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,5.5,6.93,0.09,---,5.93,20.2,0.06,186,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,6,6.92,0.09,---,6.04,20.2,0.06,186,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,6.5,6.91,0.09,---,6.04,20.1,0.06,190,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,7,6.86,0.09,---,5.5,20,0.06,195,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,7.5,6.85,0.09,---,5.12,20,0.06,197,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,8,6.85,0.09,---,4.89,20,0.06,198,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,8.5,6.78,0.091,---,3.92,19.8,0.06,195,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,9,6.71,0.093,---,2.91,19.7,0.06,73,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,9.5,6.74,0.109,---,1.83,19.1,0.08,-96,NaN,19.255579,4.89246,302.384338,181.218918,4.533756,25.838353,3636
21,10,6.92,0.172,---,1.55,18.5,0.11,-183,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

maio

,Prof.,pH,Condutividade,Turbidez,Oxigênio dissolvido,2°medição O.D.,temperatura,TDS,ORP,Secchi,Fósforo total,Fósforo reativo,Nitrog amonical,Nitrog total,Nitrito,Nitrato,Silicato
1,0,6.90,0.085,30.7,5.25,4.28,18,0.06,303,1.2,15.439366,11.516969,335.509011,248.228264,9.150975,234.174774,4394.198291
2,0.5,6.90,0.085,31.5,5.13,4.29,18,0.06,305,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,6.90,0.085,30.1,5.06,4.42,18,0.06,309,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1.5,6.91,0.085,31.8,5.01,4.43,18,0.06,309,NaN,16.975697,6.901248,342.485144,243.186438,9.150975,233.167327,3942.011591
5,2,6.90,0.085,31,5.01,4.51,18,0.05,311,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2.5,6.91,0.085,31.8,5.39,4.55,18,0.06,313,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,3,6.89,0.085,31.3,5.4,4.56,18,0.05,316,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,3.5,6.90,0.085,32.7,5.36,4.59,18,0.05,317,NaN,16.306405,12.306108,343.439844,251.057251,9.827549,232.020827,3076.219395
9,4,6.91,0.085,31.2,5.38,4.60,18,0.05,319,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,4.5,6.89,0.085,30.3,5.34,4.63,18,0.05,321,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,5,6.90,0.085,30.6,5.32,4.65,18,0.05,323,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,5.5,6.90,0.085,31.5,5.29,4.65,18,0.05,325,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,6,6.90,0.084,28.5,5.29,4.68,18,0.05,328,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,6.5,6.88,0.085,28.3,5.34,4.69,18,0.05,330,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,7,6.90,0.084,31,5.41,4.72,18,0.05,331,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,7.5,6.90,0.085,31,5.66,4.90,18,0.05,332,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,8,6.91,0.085,30.6,5.64,5.03,18,0.085,333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,8.5,6.89,0.084,30,5.66,5.22,18,0.05,335,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,9,6.91,0.085,30.8,5.78,5.54,18,0.05,336,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,9.5,6.89,0.084,31.1,5.74,5.58,18,0.05,339,NaN,19.759347,10.24,338.407209,243.793362,9.281208,238.405014,3876.91049
21,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

junho

,Prof.,pH,Condutividade,Turbidez,Oxigênio dissolvido,temperatura,TDS,ORP,Secchi,Fósforo total,Fósforo reativo,Nitrog amonical,Nitrog total,Nitrito,Nitrato,Silicato
1,0,7.00,0.075,25.7,7.1,16.1,0.05,323,1.7,6.714323,5.251008,394.795133,244.024847,5.612462,295.129529,4085.128853
2,0.5,7.04,0.075,28.6,7.09,16.2,0.05,325,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,7.04,0.075,28.8,7.07,16.1,0.05,320,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1.5,7.07,0.075,28.1,7.03,16.1,0.05,330,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2,7.05,0.075,28.3,7.04,16.1,0.05,330,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2.5,7.03,0.075,27.4,7.4,16,0.05,332,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,3,7.04,0.075,26.7,7.45,16,0.05,333,NaN,7.423411,4.620165,382.305888,239.613207,5.480706,297.472235,3899.625692
8,3.5,7.03,0.075,26.7,7.45,16,0.05,335,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,4,7.03,0.075,26.6,7.45,16,0.05,337,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,4.5,7.01,0.075,26.9,7.45,16,0.05,337,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,5,7.00,0.075,26.2,7.46,16,0.05,338,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,5.5,7.02,0.075,26.9,7.48,16,0.05,338,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,6,7.01,0.075,26.4,7.49,16,0.05,341,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,6.5,7.03,0.075,25.4,7.54,16,0.05,343,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,7,7.01,0.075,25.4,7.58,16,0.05,343,NaN,7.262032,5.1043,394.81001,247.857423,5.168169,316.091736,3817.856796
16,7.5,7.01,0.075,26.4,7.65,16,0.05,343,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,8,7.01,0.075,26,8.13,16,0.05,345,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,8.5,7.01,0.075,25.4,8.27,16,0.05,345,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,9,6.96,0.075,25,8.1,15.9,0.05,349,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,9.5,6.89,0.075,24.4,8.01,15.9,0.05,354,NaN,5.457527,5.353703,397.926743,255.28005,5.502154,301.31963,2078.824778
21,10,6.84,0.075,25,7.86,15.9,0.05,359,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

julho

,Prof.,pH,Condutividade,Turbidez,Oxigênio dissolvido,temperatura,TDS,ORP,Secchi,Fósforo total,Fósforo reativo,Nitrog amonical,Nitrog total,Nitrito,Nitrato,Silicato
1,0,7.34,0.075,erro,8.49,16.8,0.05,335,1.55,9.465194,5.472652,326.106464,315.800004,4.796926,344.249173,3277.221809
2,0.5,7.35,0.079,erro,8.48,16.9,0.05,335,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,7.35,0.079,erro,8.42,16.9,0.05,335,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1.5,7.36,0.079,erro,8.4,16.9,0.05,335,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2,7.35,0.079,erro,8.54,16.9,0.05,336,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2.5,7.35,0.079,erro,8.52,16.9,0.05,339,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,3,7.37,0.079,erro,9.24,16.9,0.05,339,NaN,17.293327,4.306227,318.714829,313.051164,4.626677,343.42997,2918.877794
8,3.5,7.35,0.079,erro,9.19,16.9,0.05,341,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,4,7.35,0.079,erro,9.21,16.9,0.05,342,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,4.5,7.35,0.079,erro,9.28,16.9,0.05,342,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,5,7.34,0.079,erro,9.25,16.8,0.05,343,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,5.5,7.37,0.079,erro,9.23,16.8,0.05,343,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,6,7.36,0.079,erro,9.22,16.8,0.05,345,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,6.5,7.36,0.079,erro,9.18,16.8,0.05,345,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,7,7.36,0.079,erro,9.16,16.8,0.05,346,NaN,14.034085,5.263294,328.479087,316.379611,5.128305,337.754709,3415.894393
16,7.5,7.32,0.079,erro,9.12,16.7,0.05,347,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,8,7.17,0.077,erro,6.55,15.6,0.05,356,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,8.5,6.92,0.077,erro,6.73,15.6,0.05,373,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,9,6.93,0.077,erro,6.74,15.5,0.05,373,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,9.5,6.90,0.077,erro,6.73,15.5,0.05,376,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,10,6.89,0.077,erro,6.66,15.5,0.05,376,NaN,10.075372,4.42586,319.193916,318.865367,10.254038,329.527757,3741.567275
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

agosto

,Prof.,pH,Condutividade,Turbidez,Oxigênio dissolvido,temperatura,TDS,ORP,Secchi,Fósforo total,Fósforo reativo,Nitrog amonical,Nitrog total,Nitrito,Nitrato,Silicato
1,0,7.14,0.077,NaN,7.4,14.8,0.05,312,1.4,20.403745,4.979164,327.91635,304.515941,4.6814,340.914018,3372.359509
2,0.5,7.18,0.077,NaN,8.35,14.8,0.05,313,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,7.18,0.077,NaN,8.3,14.8,0.05,314,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1.5,7.19,0.077,NaN,8.24,14.8,0.05,314,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2,7.18,0.077,NaN,8.23,14.8,0.05,318,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2.5,7.18,0.077,NaN,8.33,14.8,0.05,318,NaN,25.493519,6.32504,319.91635,293.883926,4.103767,338.0973,2929.1025
7,3,7.19,0.077,NaN,8.32,14.8,0.05,319,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,3.5,7.19,0.077,NaN,8.3,14.8,0.05,320,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,4,7.20,0.077,NaN,8.55,14.7,0.05,320,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,4.5,7.18,0.077,NaN,8.53,14.7,0.05,322,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,5,7.20,0.077,NaN,8.54,14.7,0.05,322,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,5.5,7.20,0.077,NaN,8.54,14.7,0.05,322,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,6,7.17,0.077,NaN,8.51,14.7,0.05,323,NaN,16.489678,6.100727,329.627376,302.935062,4.836449,335.31942,3400.876855
14,6.5,7.20,0.077,NaN,8.6,14.7,0.05,323,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,7,7.18,0.077,NaN,8.6,14.7,0.05,324,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,7.5,7.21,0.077,NaN,8.6,14.7,0.05,323,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,8,7.20,0.077,NaN,8.62,14.7,0.05,324,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,8.5,7.23,0.077,NaN,8.62,14.7,0.05,323,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,9,7.21,0.077,NaN,8.75,14.7,0.05,325,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,9.5,7.21,0.077,NaN,9.2,14.7,0.05,324,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,10,7.18,0.077,NaN,9.19,14.7,0.05,326,NaN,16.861738,5.741827,320.418251,302.450917,10.898555,327.78847,3732.301135
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,2010-08-17 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

setembro

,Prof.,pH,Condutividade,Turbidez,Oxigênio dissolvido,temperatura,TDS,ORP,Secchi,Fósforo total,Fósforo reativo,Nitrog amonical,Nitrog total,Nitrito,Nitrato,Silicato
1,0,7.53,0.087,NaN,10.4,18.1,0.06,302,1.75,20.420897,2.542054,303.15052,354.262871,4.763491,298.066801,3893.790789
2,0.5,7.56,0.087,NaN,10.3,18,0.06,302,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,7.54,0.087,NaN,10.25,18,0.06,306,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1.5,7.53,0.087,NaN,10.2,18,0.06,306,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2,7.54,0.087,NaN,10.19,18,0.06,308,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2.5,7.55,0.087,NaN,10.11,17.9,0.06,309,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,3,7.55,0.087,NaN,10.05,17.9,0.06,310,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,3.5,7.53,0.087,NaN,10.19,17.9,0.06,314,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,4,8.58,0.087,NaN,10.14,17.9,0.06,314,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,4.5,7.54,0.087,NaN,10.1,17.9,0.06,316,NaN,88.084166,3.565358,357.23206,356.421923,4.691564,359.674004,3569.269737
11,5,7.58,0.087,NaN,10.06,17.9,0.06,314,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,5.5,7.51,0.087,NaN,10.09,17.9,0.06,315,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,6,7.41,0.087,NaN,9.73,17.7,0.06,317,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,6.5,7.33,0.087,NaN,9.49,17.7,0.06,329,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,7,6.90,0.086,NaN,8.56,17,0.06,351,NaN,48.275271,3.204192,345.15052,347.922448,3.670892,366.741235,4050.432237
16,7.5,6.52,0.082,NaN,2.94,15.5,0.05,364,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,8,6.54,0.082,NaN,2.7,15.3,0.05,363,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,8.5,6.54,0.081,NaN,3.19,15.2,0.05,364,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,9,6.49,0.081,NaN,2.54,15.1,0.05,365,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,9.5,6.59,0.082,NaN,2.32,15.1,0.05,364,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,10,6.51,0.082,NaN,2.08,15,0.05,362,NaN,23.70585,5.265849,321.645424,348.339942,1.458292,336.363011,3744.153947
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

outubro

,Prof.,pH,Condutividade,Turbidez,Oxigênio dissolvido,temperatura,TDS,ORP,Secchi,Fósforo total,Fósforo reativo,Nitrog amonical,Nitrog total,Nitrito,Nitrato,Silicato
1,0,7.82,0.094,NaN,15.82,20.9,0.06,302,1.9,7.255829,2.868121,57.68755,420.516393,0.008062,395.746513,3778.983963
2,0.5,7.87,0.096,NaN,15.6,20.9,0.06,301,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,7.83,0.096,NaN,15.74,20.9,0.06,306,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1.5,7.91,0.096,NaN,15.73,20.9,0.06,301,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2,7.89,0.096,NaN,15.64,20.9,0.06,305,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2.5,7.87,0.097,NaN,15.69,20.9,0.06,308,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,3,7.86,0.097,NaN,15.66,20.9,0.06,307,NaN,9.114029,1.238121,63.782712,336.631148,0.007364,342.451722,3802.379137
8,3.5,7.80,0.096,NaN,15.76,20.9,0.06,309,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,4,7.79,0.096,NaN,15.64,20.7,0.06,308,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,4.5,6.92,0.091,NaN,10.8,18.6,0.06,344,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,5,6.88,0.09,NaN,10.52,18.3,0.06,349,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,5.5,6.80,0.09,NaN,9.4,18.1,0.06,351,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,6,6.68,0.09,NaN,8.79,17.9,0.06,353,NaN,32.916686,1.509787,67.701824,567.516393,0.006611,506.16242,3906.615062
14,6.5,6.62,0.089,NaN,6.88,17.7,0.06,360,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,7,6.51,0.089,NaN,5.43,17.4,0.06,366,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,7.5,6.45,0.09,NaN,2.87,17,0.06,366,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,8,6.45,0.092,NaN,1.44,16.3,0.06,341,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,8.5,6.43,0.092,NaN,1.23,16,0.06,317,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,9,6.43,0.094,NaN,1.09,15.9,0.06,198,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,9.5,6.49,0.098,NaN,1,15.8,0.06,92,NaN,7.255829,1.306037,65.242665,437.442623,0.006248,383.591583,3935.029003
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

novembro

,Prof.,pH,Condutividade,Turbidez,Oxigênio dissolvido,temperatura,TDS,ORP,Secchi,Fósforo total,Fósforo reativo,Nitrog amonical,Nitrog total,Nitrito,Nitrato,Silicato
1,0,8.20,erro,erro,5.66,23.3,erro,erro,2,16.497962,7.930857,159.594738,240.483041,3.733813,150.775915,3235.806012
2,0.5,8.22,NaN,NaN,5.63,23.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,8.24,NaN,NaN,5.59,23.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1.5,8.23,NaN,NaN,5.61,23.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2,8.24,NaN,NaN,5.59,23.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2.5,8.23,NaN,NaN,5.6,23.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,3,8.24,NaN,NaN,5.6,23.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,3.5,8.23,NaN,NaN,5.61,23.2,NaN,NaN,NaN,11.235809,9.457623,269.626779,247.266243,3.814451,147.158166,3262.306592
9,4,8.16,NaN,NaN,5.56,23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,4.5,7.64,NaN,NaN,5.13,22.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,5,6.97,NaN,NaN,3.24,21.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,5.5,6.87,NaN,NaN,2.27,20.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,6,6.74,NaN,NaN,1.24,20.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,6.5,6.64,NaN,NaN,0.03,19.6,NaN,NaN,NaN,27.111206,17.046982,212.281043,239.350092,4.687066,160.554716,3886.60755
15,7,6.60,NaN,NaN,0,18.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,7.5,6.59,NaN,NaN,0,17.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,8,6.59,NaN,NaN,0,17.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,8.5,6.59,NaN,NaN,0,16.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,9,6.61,NaN,NaN,0,16.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,9.5,6.63,NaN,NaN,0,16.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,10,6.65,NaN,NaN,0,16.6,NaN,NaN,NaN,28.786201,12.451862,270.046418,233.192481,5.692157,155.604113,3560.840751
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

dezembro

,Prof.,pH,Condutividade,Turbidez,Oxigênio dissolvido,temperatura,TDS,ORP,Secchi,Fósforo total,Fósforo reativo,Nitrog amonical,Nitrog total,Nitrito,Nitrato,Silicato
1,0,7.42,erro,0.3,7.21,24.4,erro,70,2.55,19.085818,9.410115,201.243576,237.44289,169.725892,4.116842,3198.47094
2,0.5,7.43,erro,0.3,7.16,24.4,NaN,70,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,4.43,erro,0.1,7.16,24.4,NaN,71,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1.5,7.43,erro,0.3,7.13,24.3,NaN,71,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2,7.44,erro,0.3,7,24.3,NaN,72,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2.5,7.41,erro,0.3,6.97,24.2,NaN,73,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,3,7.25,erro,0.3,6.43,23.8,NaN,80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,3.5,6.75,erro,0.4,4.55,22.3,NaN,96,NaN,16.077727,5.927843,287.446664,222.643445,154.894361,4.19748,3428.33785
9,4,6.57,erro,0.4,2.52,21.3,NaN,99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,4.5,6.37,erro,0.4,0.74,20.7,NaN,104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,5,6.35,erro,0.4,0.35,20.5,NaN,104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,5.5,6.31,erro,0.4,0,20,NaN,94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,6,6.34,erro,0.5,0,19.4,NaN,-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,6.5,6.32,erro,0.4,0,19.2,NaN,-55,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,7,6.38,erro,0.5,0,18.8,NaN,-123,NaN,14.240273,5.424024,226.109372,238.605718,180.356672,5.070095,4260.177882
16,7.5,6.42,erro,0.5,0,18.6,NaN,176,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,8,6.46,erro,0.5,0,18.1,NaN,-224,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,8.5,6.50,erro,0.7,0,17.7,NaN,-237,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,9,6.50,erro,0.5,0,17.2,NaN,-242,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,9.5,6.54,erro,0.5,0,17.1,NaN,-246,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,10,6.58,erro,0.5,0,17,NaN,-250,NaN,21.456727,7.602297,330.909847,229.032626,175.503819,4.995217,4317.644609
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
# dicionario['marco']['Turbidez'][1:25].plot()
# plt.show()

In [8]:
# for i in range(0, len(meses)):
#   dicionario[meses[i]][nome_variaveis[i + 2]][1:25].plot(label=nome_variaveis[i + 2])
#   plt.legend()
#   plt.show()

In [9]:
dados_barragem = pd.read_excel('/content/drive/MyDrive/modelos-de-dispersao-e-qualidade-da-agua/Dados_verde/Estacao_barragem2010.xls')
dados_barragem.head()

,Dia,Mês,Ano,Data,Hora-min,Vel. Vento média (m/s),Dir. Vento media (graus),Temp. média (ºC),Umid. rel. média (%),Rad. solar (W/m2),Vento norte médio (m/s),Vento leste médio(m/s),Dir. vento calculada (graus),Rajada máx. (m/s),Rajada min. (m/s),Temp. máx. (ºC),Temp. min. (ºC),Prec. (mm)
0,1,1,2010,2010-01-01,0,4.346,137.4,16.94,90.9,0.837,-3.141,2.892,137.4,6.860,2.401,17.19,16.74,0.0
1,1,1,2010,2010-01-01,15,3.446,137.4,16.97,90.7,0.838,-2.483,2.269,137.4,5.096,1.568,17.23,16.67,0.0
2,1,1,2010,2010-01-01,30,3.711,133.6,16.96,91.3,0.838,-2.520,2.634,133.6,6.370,1.274,17.20,16.73,0.0
3,1,1,2010,2010-01-01,45,3.625,134.8,16.88,91.5,0.838,-2.522,2.521,134.8,5.831,1.519,17.21,16.64,0.0
4,1,1,2010,2010-01-01,100,3.794,120.5,16.99,91.8,0.838,-1.878,3.212,120.5,6.223,1.372,17.25,16.76,0.0

In [10]:
teste = dados_barragem[dados_barragem['Mês'] == 1]['Dir. Vento media (graus)']
round(teste.mean(), 2)

149.25

In [11]:
for i in range(1, 13):
  var = dados_barragem[dados_barragem['Mês'] == i]['Vel. Vento média (m/s)']
  print(f'{round(var.mean(), 2)} {" " * 20}\t{i}')

2.61                     	1
-26.22                     	2
-155.02                     	3
-230.94                     	4
-164.69                     	5
-184.62                     	6
-2.07                     	7
-15.96                     	8
-6.4                     	9
-2307.29                     	10
3.0                     	11
0.57                     	12

In [12]:
lista = []
for i in range(1, 13):
  var = dados_barragem[dados_barragem['Mês'] == i]['Vel. Vento média (m/s)']
  lista.append(round(var.mean(), 2))

maior = len(str(lista[0]))
for l in lista:
  if len(str(l)) > maior:
    maior = len(str(l))

cont = 1
for l in lista:
  print(f'{l} \t{" " * maior if len(str(l)) < maior - 1 else ""}{cont}')
  cont += 1

2.61 	        1
-26.22 	        2
-155.02 	3
-230.94 	4
-164.69 	5
-184.62 	6
-2.07 	        7
-15.96 	        8
-6.4 	        9
-2307.29 	10
3.0 	        11
0.57 	        12