<a href="https://colab.research.google.com/github/CostaNathan/doctorate/blob/Ocean_outfalls/data/dados_vento_part.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [7]:
df = pd.read_excel('https://github.com/CostaNathan/doctorate/blob/5a436b4ecf798f050ef63a216ae1b6d66131c0ea/data/Monitoring_points/vento_base.xlsx?raw=true', header = None)
df

             0    1      2
0          0.0  2.0  136.0
1         60.0  1.1  116.0
2        120.0  0.7  306.0
3        180.0  0.5    8.0
4        240.0  0.7  293.0
...        ...  ...    ...
8756  525360.0  2.6  128.0
8757  525420.0  2.6  128.0
8758  525480.0  2.6  128.0
8759  525540.0  2.6  128.0
8760  525600.0  2.6  128.0

[8761 rows x 3 columns]

In [8]:
day = []
hour = [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23]
hour_rep =[]
minutes = np.zeros(len(df))
seconds = np.zeros(len(df))

for i in range (len(df)):
  day.append(df.iloc[i,0]//1440)

day = [int(x) for x in day]
minutes = [int(x) for x in minutes]
seconds = [int(x) for x in seconds]

for i in range (int(len(df)/24)):
  hour_rep.append(hour)
hour_rep = np.array(hour_rep).flatten()
hour_rep = np.append(hour_rep, 0)


df['day'] = day
df['hour'] = hour_rep
df['minutes'] = minutes
df['seconds'] = seconds

col = ['day','hour', 'minutes', 'seconds',1, 2, 0]

df = df[col]
df = df.drop([0], axis = 1)
df
# df.columns.tolist()

      day  hour  minutes  seconds    1      2
0       0     0        0        0  2.0  136.0
1       0     1        0        0  1.1  116.0
2       0     2        0        0  0.7  306.0
3       0     3        0        0  0.5    8.0
4       0     4        0        0  0.7  293.0
...   ...   ...      ...      ...  ...    ...
8756  364    20        0        0  2.6  128.0
8757  364    21        0        0  2.6  128.0
8758  364    22        0        0  2.6  128.0
8759  364    23        0        0  2.6  128.0
8760  365     0        0        0  2.6  128.0

[8761 rows x 6 columns]

In [ ]:
df.to_csv('vento_modificado.csv', sep = ' ')